<header class="header">
    <div class="container">
        <div class="header__inner">
            <div>
                <div>
                 <a href="/">
                  <img src="views/assets/images/logo.jpg" />
                 </a>
                </div>
               </div>

            <nav class="nav">
                <a class="nav__link" href="/">Home</a>
                <a class="nav__link" href="/posts">Pilots</a>
                <a class="nav__link" href="/add-post">addPost</a>
                <a class="nav__link" href="/contacts">Contact</a>
            </nav>
        </div>
    </div>
</header>